.bs-example{
    margin: 20px;
  }

  .img-fluid {
    max-width:80%;
    height : 40%;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 400px;
  }

  .bs-example1{
    width : 90%;
    margin-left : 60px;
  }

.container {
    margin-top: 50px;
}

.form-control {
  display: block;
  width: 80%;
  border-color: rgb(163, 25, 67);
  box-shadow: rgb(146, 92, 56);
} 