.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color : floralwhite;
    background-color: #0f5132;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #055160;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-top : 5px;
    margin-right: 5px;
    margin-bottom : 5px;
    margin-left: 5px;
}